/* headerstyle.css */

.header {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {

    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: .5cm;
    animation: bounce 1.5s ease infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px); /* Move up */
    }
    60% {
        transform: translateY(-10px); /* Slightly lower bounce */
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    animation: bounce 1.5s ease infinite;
}

  .menu-toggle {
    margin-left: auto;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex; /* Ensure the button is displayed as a flex item */
  }
  
  .menu-icon {
    height: 24px;
    width: 24px;
    display: none;
  }
  
  .mobile-menu {
    margin-top: 10px;
    display: none;

  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    
  }
  
  .menu-item {
    display: block;
    padding: 8px;
    color: black;

    transition: color 0.3s;
    
  }
  
  .menu-item:hover {
    color: rgb(176, 214, 214);
    text-decoration: underline rgba(196, 186, 48, 0.747);
  }
  
  .desktop-nav {
    display: flex;
    justify-content: center;
    margin-top: -1cm;
    margin-left: 12cm;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .nav-item {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: yellow;
  }
 
  @media (max-width: 768px) {
    .desktop-nav {
      display: none; /* Hide desktop navigation on smaller screens */
    }
    
    .mobile-menu {
      display: flex; /* Display mobile menu on smaller screens */
      flex-direction: column; /* Stack items vertically */
      width: 100%; /* Ensure it takes full width */
    }
     
  .menu-icon {
    display: flex;

  }
  }